In [2]:
import pandas as pd


gfile = pd.ExcelFile('./AURData/senType.xlsx')
sheetnames = gfile.sheet_names
df1 = gfile.parse(sheet_name=gfile.sheet_names[0])

In [7]:
sumdata = df1.groupby('SA_name').sum()

In [10]:
sumdata = sumdata.T

In [18]:
sumdata.to_dict()['Ballarat']

{'year': 4041.0,
 'negative': 265.0,
 'neutral': 1112.0,
 'positive': 674.0,
 'sum': 2051.0,
 'neg_ratio': 0.24700705752675275,
 'neu_ratio': 1.054739208311858,
 'pos_ratio': 0.6982537341613893}

In [1]:
import couchdb
couch = couchdb.Server('http://admin:password@172.26.133.251:5984')
db = couch['tweets_dic']

In [5]:
def get_SA4Sum():
    SA4 = []
    for item in db.view('CountOrSum/CountTweetsSA_name', group=True, stale = "update_after"):
        dic = {"SA_name": item["key"], "Count": item["value"]}
        SA4.append(dic)
        df = pd.DataFrame(SA4)
    return df.set_index("SA_name").T

In [8]:
SASum = get_SA4Sum()

In [10]:
import pandas as pd
df = pd.DataFrame(SASum)

In [22]:
df.set_index("SA_name").T

SA_name,Ballarat,Bendigo,Geelong,Hume,Latrobe - Gippsland,Melbourne,Mornington Peninsula,North West,Shepparton,Unknown,Warrnambool and South West
Count,1689,1766,5138,1166,1617,85185,311,1053,519,344,1388

In [23]:
df.set_index("SA_name").T.to_dict()

{'Ballarat': {'Count': 1689},
 'Bendigo': {'Count': 1766},
 'Geelong': {'Count': 5138},
 'Hume': {'Count': 1166},
 'Latrobe - Gippsland': {'Count': 1617},
 'Melbourne': {'Count': 85185},
 'Mornington Peninsula': {'Count': 311},
 'North West': {'Count': 1053},
 'Shepparton': {'Count': 519},
 'Unknown': {'Count': 344},
 'Warrnambool and South West': {'Count': 1388}}

In [25]:
def get_CitySum():
    SA4 = []
    for item in db.view('CountOrSum/CountTweetscity_name', group=True, stale = "update_after"):
        dic = {"City_name": item["key"], "Count": item["value"]}
        SA4.append(dic)
        df = pd.DataFrame(SA4)
    return df.set_index("City_name").T

In [26]:
get_CitySum()

City_name,Aireys Inlet - Fairhaven,Albury,Alexandra,Anglesea,Apollo Bay,Ararat,Arcadia Downs,Arthurs Seat,Avenel,Avoca,...,Woori Yallock - Launching Place,Wycheproof,Yackandandah,Yarra Glen,Yarragon,Yarram,Yarrawonga,Yass,Yea,Yinnar
Count,17,7,21,48,37,134,1,4,1,7,...,3,2,4,7,16,15,53,1,3,40

In [37]:
def get_SA4_Sen_Sum():
    SA4 = []
    for item in db.view('SummaryByRegion/Count_BySA4NameYearSentimentType', group=True, stale = "update_after"):
        lis = [item["key"][0],item["key"][1],item["key"][2],item["value"]]
        SA4.append(lis)
        df = pd.DataFrame(SA4)
    return df

In [39]:
get_SA4_Sen_Sum()

                              0     1         2    3
0                      Ballarat  2016  negative    2
1                      Ballarat  2016   neutral    7
2                      Ballarat  2016  positive    8
3                      Ballarat  2017  negative    2
4                      Ballarat  2017   neutral    3
..                          ...   ...       ...  ...
130  Warrnambool and South West  2020   neutral   84
131  Warrnambool and South West  2020  positive  103
132  Warrnambool and South West  2021  negative  131
133  Warrnambool and South West  2021   neutral  645
134  Warrnambool and South West  2021  positive  385

[135 rows x 4 columns]

In [59]:
for item in db.view('SummaryByRegion/SentimentScoreStat_BySA4NameTime', group=True, group_level = 1,stale = "update_after"):
        print(item)

<Row key=['Ballarat'], value={'sum': 172.89134807900436, 'count': 1689, 'min': -1, 'max': 1, 'sumsqr': 164.5174941286012}>
<Row key=['Bendigo'], value={'sum': 229.35794230785746, 'count': 1766, 'min': -1, 'max': 1, 'sumsqr': 199.06164370316168}>
<Row key=['Geelong'], value={'sum': 615.3288255136283, 'count': 5138, 'min': -1, 'max': 1, 'sumsqr': 542.7129189586834}>
<Row key=['Hume'], value={'sum': 139.66215835061928, 'count': 1166, 'min': -1, 'max': 1, 'sumsqr': 123.36636994056718}>
<Row key=['Latrobe - Gippsland'], value={'sum': 211.77929702531264, 'count': 1617, 'min': -1, 'max': 1, 'sumsqr': 190.65265211381563}>
<Row key=['Melbourne'], value={'sum': 9353.05334910152, 'count': 85185, 'min': -1, 'max': 1, 'sumsqr': 8895.211833795678}>
<Row key=['Mornington Peninsula'], value={'sum': 30.098950517075515, 'count': 311, 'min': -1, 'max': 1, 'sumsqr': 40.39003206538911}>
<Row key=['North West'], value={'sum': 122.93690191752692, 'count': 1053, 'min': -1, 'max': 1, 'sumsqr': 124.20470026643677}>
<Row key=['Shepparton'], value={'sum': 55.83097011784512, 'count': 519, 'min': -1, 'max': 1, 'sumsqr': 54.721531563409016}>
<Row key=['Unknown'], value={'sum': 37.7149396494709, 'count': 344, 'min': -0.9999999999999999, 'max': 1, 'sumsqr': 36.23394485576455}>
<Row key=['Warrnambool and South West'], value={'sum': 161.17054641249956, 'count': 1388, 'min': -1, 'max': 1, 'sumsqr': 139.80689659123385}>

In [77]:
z = []
for item in db.view('SummaryByRegion/SentimentScoreStat_BySA4NameTime', group=True, group_level = 1,stale = "update_after"):
        lis = [item["key"][0],item["value"]['sum'],item["value"]['count'],item["value"]['sum']/item["value"]['count'],
               item["value"]['sumsqr'],SA4_location[item["key"][0]][0],SA4_location[item["key"][0]][1]]
        z.append(lis)

In [87]:
zz = pd.DataFrame(z)
out = zz.rename(columns = {0:"SA_name",1:"Sum",2:"Cunt",3:"Average",4:"Sumsqr",5:"latitude",6:"longitude"}).set_index("SA_name").T

In [90]:
out.to_json()

'{"Ballarat":{"Sum":172.891348079,"Cunt":1689.0,"Average":0.1023631427,"Sumsqr":164.5174941286,"latitude":-37.549999,"longitude":143.850006},"Bendigo":{"Sum":229.3579423079,"Cunt":1766.0,"Average":0.1298742595,"Sumsqr":199.0616437032,"latitude":-36.757786,"longitude":144.278702},"Geelong":{"Sum":615.3288255136,"Cunt":5138.0,"Average":0.1197603787,"Sumsqr":542.7129189587,"latitude":-38.150002,"longitude":144.350006},"Hume":{"Sum":139.6621583506,"Cunt":1166.0,"Average":0.1197788665,"Sumsqr":123.3663699406,"latitude":-36.105,"longitude":147.0253},"Latrobe - Gippsland":{"Sum":211.7792970253,"Cunt":1617.0,"Average":0.1309704991,"Sumsqr":190.6526521138,"latitude":-38.255603,"longitude":146.471993},"Melbourne":{"Sum":9353.0533491015,"Cunt":85185.0,"Average":0.1097969519,"Sumsqr":8895.2118337957,"latitude":-37.8136,"longitude":144.9036},"Mornington Peninsula":{"Sum":30.0989505171,"Cunt":311.0,"Average":0.0967811914,"Sumsqr":40.3900320654,"latitude":-38.285405,"longitude":145.093449},"North West":{"Sum":122.9369019175,"Cunt":1053.0,"Average":0.1167491946,"Sumsqr":124.2047002664,"latitude":-36.716667,"longitude":142.199997},"Shepparton":{"Sum":55.8309701178,"Cunt":519.0,"Average":0.1075741235,"Sumsqr":54.7215315634,"latitude":-36.383331,"longitude":145.399994},"Unknown":{"Sum":37.7149396495,"Cunt":344.0,"Average":0.1096364525,"Sumsqr":36.2339448558,"latitude":0.0,"longitude":0.0},"Warrnambool and South West":{"Sum":161.1705464125,"Cunt":1388.0,"Average":0.1161171084,"Sumsqr":139.8068965912,"latitude":-38.3818,"longitude":142.488}}'

In [75]:
SA4_location = {"Ballarat" : [-37.549999, 143.850006],
                "Bendigo":[-36.757786, 144.278702],
                "Geelong":[-38.150002, 144.350006],
                "Hume":[-36.1050, 147.0253],
                "Latrobe - Gippsland":[-38.255603, 146.471993],
                "Melbourne":[-37.8136, 144.9036],
                "Mornington Peninsula":[-38.285405, 145.093449],
                "North West":[-36.716667, 142.199997],
                "Shepparton":[-36.383331, 145.399994],
                "Warrnambool and South West":[-38.3818, 142.4880],
                "Unknown":[0,0]}

In [73]:
SA4_location['Ballarat']

[-37.549999, 143.850006]

In [104]:
overalldata = []
for item in db.view('SummaryByRegion/Count_BySA4NameYearSentimentType', group=True,stale = "update_after"):
        lis = [item["key"][0],item["key"][1], item["key"][2], item["value"]]
        overalldata.append(lis)

['Ballarat', '2016', 'negative', 2]
['Ballarat', '2016', 'neutral', 7]
['Ballarat', '2016', 'positive', 8]
['Ballarat', '2017', 'negative', 2]
['Ballarat', '2017', 'neutral', 3]
['Ballarat', '2017', 'positive', 13]
['Ballarat', '2018', 'negative', 1]
['Ballarat', '2018', 'neutral', 3]
['Ballarat', '2018', 'positive', 7]
['Ballarat', '2019', 'negative', 2]
['Ballarat', '2019', 'neutral', 12]
['Ballarat', '2019', 'positive', 19]
['Ballarat', '2020', 'negative', 42]
['Ballarat', '2020', 'neutral', 143]
['Ballarat', '2020', 'positive', 123]
['Ballarat', '2021', 'negative', 178]
['Ballarat', '2021', 'neutral', 715]
['Ballarat', '2021', 'positive', 409]
['Bendigo', '2018', 'neutral', 2]
['Bendigo', '2018', 'positive', 2]
['Bendigo', '2019', 'neutral', 5]
['Bendigo', '2019', 'positive', 15]
['Bendigo', '2020', 'negative', 33]
['Bendigo', '2020', 'neutral', 112]
['Bendigo', '2020', 'positive', 163]
['Bendigo', '2021', 'negative', 215]
['Bendigo', '2021', 'neutral', 637]
['Bendigo', '2021', 'positive', 582]
['Geelong', '2017', 'negative', 11]
['Geelong', '2017', 'neutral', 13]
['Geelong', '2017', 'positive', 6]
['Geelong', '2018', 'negative', 4]
['Geelong', '2018', 'neutral', 22]
['Geelong', '2018', 'positive', 22]
['Geelong', '2019', 'negative', 39]
['Geelong', '2019', 'neutral', 48]
['Geelong', '2019', 'positive', 55]
['Geelong', '2020', 'negative', 90]
['Geelong', '2020', 'neutral', 328]
['Geelong', '2020', 'positive', 322]
['Geelong', '2021', 'negative', 552]
['Geelong', '2021', 'neutral', 2020]
['Geelong', '2021', 'positive', 1606]
['Hume', '2016', 'positive', 1]
['Hume', '2017', 'neutral', 1]
['Hume', '2017', 'positive', 1]
['Hume', '2018', 'negative', 1]
['Hume', '2018', 'neutral', 3]
['Hume', '2018', 'positive', 7]
['Hume', '2019', 'negative', 10]
['Hume', '2019', 'neutral', 28]
['Hume', '2019', 'positive', 35]
['Hume', '2020', 'negative', 13]
['Hume', '2020', 'neutral', 77]
['Hume', '2020', 'positive', 68]
['Hume', '2021', 'negative', 128]
['Hume', '2021', 'neutral', 464]
['Hume', '2021', 'positive', 329]
['Latrobe - Gippsland', '2018', 'positive', 1]
['Latrobe - Gippsland', '2019', 'neutral', 1]
['Latrobe - Gippsland', '2020', 'negative', 29]
['Latrobe - Gippsland', '2020', 'neutral', 111]
['Latrobe - Gippsland', '2020', 'positive', 110]
['Latrobe - Gippsland', '2021', 'negative', 173]
['Latrobe - Gippsland', '2021', 'neutral', 683]
['Latrobe - Gippsland', '2021', 'positive', 509]
['Melbourne', '2014', 'neutral', 1]
['Melbourne', '2014', 'positive', 1]
['Melbourne', '2015', 'negative', 2]
['Melbourne', '2015', 'neutral', 1]
['Melbourne', '2015', 'positive', 3]
['Melbourne', '2016', 'neutral', 14]
['Melbourne', '2016', 'positive', 15]
['Melbourne', '2017', 'negative', 14]
['Melbourne', '2017', 'neutral', 40]
['Melbourne', '2017', 'positive', 51]
['Melbourne', '2018', 'negative', 39]
['Melbourne', '2018', 'neutral', 147]
['Melbourne', '2018', 'positive', 201]
['Melbourne', '2019', 'negative', 122]
['Melbourne', '2019', 'neutral', 493]
['Melbourne', '2019', 'positive', 605]
['Melbourne', '2020', 'negative', 1215]
['Melbourne', '2020', 'neutral', 4908]
['Melbourne', '2020', 'positive', 4089]
['Melbourne', '2021', 'negative', 10329]
['Melbourne', '2021', 'neutral', 36107]
['Melbourne', '2021', 'positive', 26788]
['Mornington Peninsula', '2020', 'negative', 7]
['Mornington Peninsula', '2020', 'neutral', 30]
['Mornington Peninsula', '2020', 'positive', 34]
['Mornington Peninsula', '2021', 'negative', 45]
['Mornington Peninsula', '2021', 'neutral', 100]
['Mornington Peninsula', '2021', 'positive', 95]
['North West', '2018', 'neutral', 4]
['North West', '2019', 'negative', 3]
['North West', '2019', 'neutral', 25]
['North West', '2019', 'positive', 17]
['North West', '2020', 'negative', 23]
['North West', '2020', 'neutral', 113]
['North West', '2020', 'positive', 115]
['North West', '2021', 'negative', 125]
['North West', '2021', 'neutral', 340]
['North West', '2021', 'positive', 288]
['Shepparton', '2015', 'neutral', 1]
['Shepparton', '2017', 'negative', 1]
['Shepparton', '2017', 'positive', 1]
['Shepparton', '2018', 'negative', 2]
['Shepparton', '2018', 'neutral', 7]
['Shepparton', '2018', 'positive', 3]
['Shepparton', '2019', 'negative', 1]
['Shepparton', '2019', 'positive', 2]
['Shepparton', '2020', 'negative', 7]
['Shepparton', '2020', 'neutral', 56]
['Shepparton', '2020', 'positive', 38]
['Shepparton', '2021', 'negative', 61]
['Shepparton', '2021', 'neutral', 201]
['Shepparton', '2021', 'positive', 138]
['Unknown', '2019', 'positive', 1]
['Unknown', '2020', 'negative', 3]
['Unknown', '2020', 'neutral', 16]
['Unknown', '2020', 'positive', 15]
['Unknown', '2021', 'negative', 55]
['Unknown', '2021', 'neutral', 136]
['Unknown', '2021', 'positive', 118]
['Warrnambool and South West', '2016', 'neutral', 1]
['Warrnambool and South West', '2017', 'neutral', 1]
['Warrnambool and South West', '2019', 'neutral', 6]
['Warrnambool and South West', '2019', 'positive', 6]
['Warrnambool and South West', '2020', 'negative', 26]
['Warrnambool and South West', '2020', 'neutral', 84]
['Warrnambool and South West', '2020', 'positive', 103]
['Warrnambool and South West', '2021', 'negative', 131]
['Warrnambool and South West', '2021', 'neutral', 645]
['Warrnambool and South West', '2021', 'positive', 385]

In [202]:
Lis_2020 = []
for element in kk:
    if int(element[1]) == 2020 :
        Lis_2020.append(element)

In [203]:
Lis_2021 = []
for element in kk:
    if int(element[1]) == 2021 :
        Lis_2021.append(element)

In [243]:
Lis_2020

[['Ballarat', '2020', 'negative', 42],
 ['Ballarat', '2020', 'neutral', 143],
 ['Ballarat', '2020', 'positive', 123],
 ['Bendigo', '2020', 'negative', 33],
 ['Bendigo', '2020', 'neutral', 112],
 ['Bendigo', '2020', 'positive', 163],
 ['Geelong', '2020', 'negative', 90],
 ['Geelong', '2020', 'neutral', 328],
 ['Geelong', '2020', 'positive', 322],
 ['Hume', '2020', 'negative', 13],
 ['Hume', '2020', 'neutral', 77],
 ['Hume', '2020', 'positive', 68],
 ['Latrobe - Gippsland', '2020', 'negative', 29],
 ['Latrobe - Gippsland', '2020', 'neutral', 111],
 ['Latrobe - Gippsland', '2020', 'positive', 110],
 ['Melbourne', '2020', 'negative', 1215],
 ['Melbourne', '2020', 'neutral', 4908],
 ['Melbourne', '2020', 'positive', 4089],
 ['Mornington Peninsula', '2020', 'negative', 7],
 ['Mornington Peninsula', '2020', 'neutral', 30],
 ['Mornington Peninsula', '2020', 'positive', 34],
 ['North West', '2020', 'negative', 23],
 ['North West', '2020', 'neutral', 113],
 ['North West', '2020', 'positive', 115],
 ['Shepparton', '2020', 'negative', 7],
 ['Shepparton', '2020', 'neutral', 56],
 ['Shepparton', '2020', 'positive', 38],
 ['Unknown', '2020', 'negative', 3],
 ['Unknown', '2020', 'neutral', 16],
 ['Unknown', '2020', 'positive', 15],
 ['Warrnambool and South West', '2020', 'negative', 26],
 ['Warrnambool and South West', '2020', 'neutral', 84],
 ['Warrnambool and South West', '2020', 'positive', 103]]

In [271]:
def get_overview(listdata):
    new_dic = {}
    for element in listdata:
        new_dic[element[0]] = {}

    for element in listdata:
        new_dic[element[0]] [element[2]] = element[3]
    for element in lisdata:
        new_dic[element[0]] ["total"] = new_dic[element[0]]["negative"] + new_dic[element[0]]["neutral"] + new_dic[element[0]]["positive"]
        new_dic[element[0]] ["neg_per"] = new_dic[element[0]]["negative"]/new_dic[element[0]] ["total"]
        new_dic[element[0]] ["neu_per"] = new_dic[element[0]]["neutral"]/new_dic[element[0]] ["total"]
        new_dic[element[0]] ["pos_per"] = new_dic[element[0]]["positive"]/new_dic[element[0]] ["total"]
        new_dic[element[0]] ["latitu"] = SA4_location[element[0]][0]
        new_dic[element[0]] ["longti"] = SA4_location[element[0]][1]
    return new_dic

In [273]:
new_dic

AttributeError: 'dict' object has no attribute 'to_json'

In [280]:
"Ballarat" in new_dic

True

In [231]:
df2020 = pd.DataFrame(Lis_2020).rename(columns = {0:"SA_name",1:"Year",2:"Type",3:"Count"})

In [232]:
df2020["Negratio"],df2020["Posratio"],df2020["Neuratio"],df2020["Total"] = [0,0,0,0]

In [245]:
df2020 = df2020.set_index("SA_name")

In [246]:
if

,Year,Type,Count,Negratio,Posratio,Neuratio,Total
SA_name,,,,,,,
Ballarat,2020,negative,42,0,0,0,0
Ballarat,2020,neutral,143,0,0,0,0
Ballarat,2020,positive,123,0,0,0,0
Bendigo,2020,negative,33,0,0,0,0
Bendigo,2020,neutral,112,0,0,0,0
Bendigo,2020,positive,163,0,0,0,0
Geelong,2020,negative,90,0,0,0,0
Geelong,2020,neutral,328,0,0,0,0
Geelong,2020,positive,322,0,0,0,0
Hume,2020,negative,13,0,0,0,0
Hume,2020,neutral,77,0,0,0,0
Hume,2020,positive,68,0,0,0,0
Latrobe - Gippsland,2020,negative,29,0,0,0,0
Latrobe - Gippsland,2020,neutral,111,0,0,0,0
Latrobe - Gippsland,2020,positive,110,0,0,0,0
Melbourne,2020,negative,1215,0,0,0,0
Melbourne,2020,neutral,4908,0,0,0,0
Melbourne,2020,positive,4089,0,0,0,0
Mornington Peninsula,2020,negative,7,0,0,0,0
Mornington Peninsula,2020,neutral,30,0,0,0,0
Mornington Peninsula,2020,positive,34,0,0,0,0
North West,2020,negative,23,0,0,0,0
North West,2020,neutral,113,0,0,0,0
North West,2020,positive,115,0,0,0,0
Shepparton,2020,negative,7,0,0,0,0
Shepparton,2020,neutral,56,0,0,0,0
Shepparton,2020,positive,38,0,0,0,0
Unknown,2020,negative,3,0,0,0,0
Unknown,2020,neutral,16,0,0,0,0
Unknown,2020,positive,15,0,0,0,0
Warrnambool and South West,2020,negative,26,0,0,0,0
Warrnambool and South West,2020,neutral,84,0,0,0,0
Warrnambool and South West,2020,positive,103,0,0,0,0

In [237]:
sua = df2020.groupby("SA_name").sum()

In [241]:
sua["Count"].to_dict()

{'Ballarat': 308,
 'Bendigo': 308,
 'Geelong': 740,
 'Hume': 158,
 'Latrobe - Gippsland': 250,
 'Melbourne': 10212,
 'Mornington Peninsula': 71,
 'North West': 251,
 'Shepparton': 101,
 'Unknown': 34,
 'Warrnambool and South West': 213}